@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: solid;
    border-spacing: 5px;
}
.logo{
    font-size: 40px;
    user-select: none;
}
.logopic{
    width: 35px;
    height: 35px;
}
.navegador a{
    color: black;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegador a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}
.navegador a:hover::after{
    transform: scaleX(1)
}
.navegador .home{
    width: 20px;
    height: 15px;
}
.navegador .btnlogin-popup{
    height: 50px;
    width: 130px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navegador .btnlogin-popup:hover{
    background: white;
    color: black;
}
.text{
    margin-top: 10%;
    max-width: 75%;
    text-align: justify;
}
.text .tittletext{
    color: blue;
    font-weight: 500;
    font-size: 24px;
}